<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/components_pro/layout6/css/index.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="bk-horz-nav11">
        <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo1.png">管理系统
        </div>
        <div class="bk-nav-user fr">
            <span class="mr5">admin</span>
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/avatar.png">
        </div>
        <ul class="bk-nav-links fr">
            <li>
                <a href="javascript:;">首页</a>
            </li>
            <li>
                <a href="javascript:;">需求管理</a>
            </li>
            <li class="bk-has-submenu">
                <a href="javascript:;">系统配置</a>
                <ul class="bk-submenu">
                    <li>
                        <a href="javascript:;">配置项1</a>
                    </li>
                    <li>
                        <a href="javascript:;">配置项2</a>
                    </li>
                    <li>
                        <a href="javascript:;">配置项3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="page-content" style="min-width:850px;">
        <div class="bk-message-box bg-white">
            <p class="message empty-message">暂时没有数据</p>
        </div>
    </div>

    <footer class="bk-footer">
        <div class="bk-footer-links">
            <ul>
                <li>
                    <a href="###">QQ咨询</a>
                </li>
                <li>
                    <a href="###">蓝鲸论坛</a>
                </li>
                <li>
                    <a href="###">蓝鲸官网</a>
                </li>
                <li>
                    <a href="###">蓝鲸智云工作台</a>
                </li>
            </ul>
        </div>
        <p class="bk-footer-copyright">
            Copyright &copy; 2012-2017 Tencent BlueKing. All Rights Reserved. 蓝鲸智云 版权所有
        </p>
    </footer>
</body>
</html>